body{
    background-color: aqua;
}

h1{
    font-size: 60px;
    text-align: center;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style:oblique;
}

#pr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .products {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 300px; 
    box-sizing: border-box;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .thumbnail {
    max-width: 100%;
    height: auto;
  }
  
  .products:nth-child(odd) {
    clear: left;
  }
  
  nav {
    background-color: #333;
    color: white;
    padding: 10px;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
  }

  nav li {
    margin-right: 20px;
  }

  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  nav a:hover {
    color:red;
  }